*{
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .hamburguerAll{

    position: relative;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;

}

.title{
    display: flex;
    justify-content: center;
    color: #BC65E4;
    background-color: black;
    height: 60px;
    height: 4rem;
    font-size: large;
}

.icon{
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 65px;
    cursor: pointer;
}

.hamburger{
    top: -62%;
    left: 10%;
    width: 37px;
    height: 6px;
    background: #BC65E4;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburger::before{

    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #BC65E4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburger::after{

    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #BC65E4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list{
    display: flex;
    flex-direction: column;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.list .listItems{
    padding: 0;
    list-style: none;
    font-size: 1.29rem;
}

.list .listItems li{
    margin: 2px 8px;
    cursor: pointer;
}

.list .listItems li:hover{
    font-weight: 800;
}

.icon.iconActive .hamburger{
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.icon.iconActive .hamburger::after{
    top: 0;
    background: #BC65E4;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburger::before{
    top: 0;
    background: #BC65E4;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu.menuOpen{
    top: -40%;
    width: 150px;
    height: 35vh;
    background: rgb(0, 0, 0);
    box-shadow: 10px 0px 69px rgba(0, 0, 0, 0.59);
}

.menu.menuClose{
    display: none;
    width: 0px;
}

.homeCompleta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endereço{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bc65e4a9;
    color: white;
    width: 100%;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    color: #BC65E4;
    font-size: 1.3rem;
}

.inicio1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #000;
    font-size: 1.3rem;
}


img{
    height: 12rem;
    padding: 0 60px;
    cursor: pointer;
    width: 250px;
    height: 120px;
    margin-bottom: 4%;
}

.appParceiro{
    margin-top: 4px;
}

.caixas-de-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bc65e44c;
    width: 40%;
    border-radius: 15px;

}

.código, .instruções{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    color: #000;
    background-color: #bc65e4a9;
    width: 55%;
    border-radius:15px ;
    color: #fff;
}


.códigoInfo{
    padding: 5px;

}
.instruções1, .código1{
    margin: 10px 0 ;
    padding: 5px;
    border-radius: 15px;
    border: none;
    width: 280px;    
}

.enviar-informações{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #BC65E4;
    width: 11%;
    border-radius:15px ;
}


.footerHome{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    position:relative;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 10vh;
    margin-top: 3%;
    color: #fff;
    align-items: center;
    justify-content: center;
  }

